<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.tom.docwarehouse.mapper.DocumentMapper">

    <select id="selectByTitle" resultType="pers.tom.docwarehouse.model.entity.Document">
        select *
        from `document`
        where `title` = #{title};
    </select>

    <update id="replaceCategoryId">
        update `document`
        set `category_id` = #{newCategoryId}
        where `category_id` = #{oriCategoryId}
    </update>

</mapper>